root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
#这里最好使用lf，因为有cr在苹果上会出现问题，但少个cr却不会有问题
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
