// Custom styles.
// 存放于themes/next/suource/css/_custom目录下
body {
    background:url(http://ww1.sinaimg.cn/large/e6dffef4gy1g13w0a799pj24mo334diy.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: 50% 75%;
    background-size: cover;
    width: 100%;
}

.header-inner, .main-inner {
    background: #fff;
    opacity: 0.95;
}

.copyright {
  color: #555555;
}
